@import (reference) '~styles/base.less';

@b: e('.mfui-banner');
@sw: e('.swiper-wrapper');

@{b} {
    position: relative;

    overflow: hidden;

    @{sw} {
        display: flex;
    }

    &__slide {
        flex-shrink: 0;
        height: 500px;

        @media @mobileB {
            height: 540px;
        }
        @media @desktopS {
            height: 420px;
        }
        @media @desktopMU {
            height: 400px;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        z-index: 10;

        transform: translateY(-50%);
    }

    &__arrow_prev {
        .arrowPosition(left);
    }

    &__arrow_next {
        .arrowPosition(right);
    }

    &__pagination {
        position: absolute;
        bottom: 16px;
        left: 50%;
        z-index: 10;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        border-radius: 12px;

        transform: translateX(-50%);
    }

    &__pagination_theme_light {
        background-color: transparent;
    }

    &__pagination_theme_green {
        background-color: var(--brandGreen);
    }

    &__pagination_theme_dark {
        background-color: var(--stcBlack20);
    }

    &__dot {
        width: 12px;
        height: 12px;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.arrowPosition(@direction) {
    @{direction}: 12px;

    @media @mobileSM {
        @{direction}: 8px;
    }
    @media @mobileB {
        @{direction}: 16px;
    }
    @media @desktopMU {
        @{direction}: 20px;
    }
}
