@import '~styles/base.less';

@b: e('.mfui-beta-text-link');

@{b} {
    .fontFamily();
    font-size: inherit;
    line-height: inherit;

    cursor: pointer;

    &_underline-visibility_hover&_underline-style_solid {
        text-decoration: none;
    }

    &_underline-visibility_hover:hover&_underline-style_solid {
        text-decoration: underline;
    }

    &_underline-visibility_always&_underline-style_solid {
        text-decoration: underline;
    }

    &_underline-style_dashed {
        border-bottom: 1px dashed;

        &:hover {
            text-decoration: none;
        }
    }

    &_underline-style_border {
        border-bottom: 1px solid;

        &:hover {
            text-decoration: none;
        }
    }

    &_underline-style_none {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &_color_white {
        color: @clearWhite;
    }

    &_color_blue {
        color: @link;
    }

    &_color_green {
        color: @green;
    }

    &_color_black {
        color: @freshAsphalt;
    }

    &_color_gray {
        color: lighten(@freshAsphalt, 40%);
    }

    &_color_inherit {
        color: inherit;
    }
}
