@import '~@megafon/ui-core/styles/base.less';

@b: e('.mfui-beta-property-description');

@{b} {
    &__collapse {
        font-size: 12px;
        color: @link;
        text-decoration: underline dashed #34AAF2;
        cursor: pointer;
    }

    &__content-inner {
        margin-top: 8px;
    }
}
