@import '~styles/base';

.fadeIn() {
    position: static;

    visibility: visible;

    opacity: 1;

    transition: opacity 200ms;
}

.fadeOut() {
    position: absolute;
    top: 0;

    visibility: hidden;

    opacity: 0;

    transition: opacity 300ms, visibility 300ms;
}

@b: e('.mfui-notification');

@{b} {
    position: relative;

    padding: 20px 12px 20px 32px;

    border-radius: 12px;

    background-color: var(--base);

    @media @mobileSM {
        padding: 16px 12px;
    }

    &__container {
        display: flex;
    }

    &__title {
        display: block;
        margin-bottom: 4px;

        color: var(--content);
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;

        @media @desktopMU {
            line-height: 24px;
        }
    }

    &__title_close-padding {
        padding-right: 20px;
    }

    &__text {
        .smallFont();

        position: relative;

        max-width: 100%;
        margin: 0;

        color: var(--content);

        transition: height 300ms;

        @media @mobileBU {
            .commonFont();
        }
    }

    &__short-text {
        .fadeIn();
    }

    &__short-text_hidden,
    &__full-text {
        .fadeOut();
    }

    &__full-text_visible {
        .fadeIn();
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: center;

        width: 100%;
        margin-left: 12px;

        overflow: hidden;
    }

    &__icon-container {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: flex-start;
        justify-content: center;

        width: 40px;
        min-width: 40px;
        height: 40px;

        border-radius: 50%;
    }

    &__attention-icon,
    &__icon-container svg {
        width: 32px;
        min-width: 32px;
        height: 32px;
    }

    &__text-container {
        width: 85%;
        margin-right: 56px;

        @media @mobileBU {
            margin-right: 72px;
        }
    }

    &__bottom {
        z-index: 1;

        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        width: 100%;
        margin-top: 8px;
    }

    &__bottom-block {
        display: flex;

        overflow: hidden;
    }

    &__bottom_has-button {
        margin-top: 12px;
    }

    &__link {
        .h5();

        display: inline-flex;
        align-items: center;
        margin-left: 16px;

        cursor: pointer;

        @media @mobileSM {
            .smallFont();
        }
    }

    &__link-arrow,
    &__collapse-arrow {
        width: 20px;
        min-width: 20px;
        height: 20px;

        fill: var(--systemBlue);
    }

    &__link-arrow {
        margin-bottom: -2px;

        @media @mobileBU {
            margin-bottom: -4px;
        }
    }

    &__collapse-button {
        .h5();
        display: flex;
        align-items: center;

        height: fit-content;
        margin-left: 20px;
        padding: 0;

        border: none;

        color: var(--systemBlue);
        text-align: right;

        background-color: transparent;

        cursor: pointer;

        @media @mobileSM {
            .smallFont();
            margin-left: 16px;
        }
    }

    &__collapse_hidden {
        visibility: hidden;
    }

    &__close {
        position: absolute;
        top: 8px;
        right: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;
        padding: 0;

        border: none;
        border-radius: 50%;

        background-color: var(--stcBlack5);

        cursor: pointer;

        @media @mobileBU {
            top: 12px;
            right: 12px;

            width: 32px;
            height: 32px;
        }
    }

    &__close:hover {
        background-color: var(--spbSky1);
    }

    &__close:active {
        background-color: var(--spbSky2);
    }

    &__close-icon {
        width: 10px;
        height: 10px;

        opacity: 0.5;

        fill: var(--content);
    }

    &_type_error {
        @{b} {
            &__icon-container {
                background-color: var(--fury20);

                svg { /* stylelint-disable-line max-nesting-depth */
                    fill: var(--fury);
                }
            }
        }
    }

    &_type_success {
        @{b} {
            &__icon-container {
                background-color: var(--brandGreen20);

                svg { /* stylelint-disable-line max-nesting-depth */
                    fill: var(--brandGreen);
                }
            }
        }
    }

    &_type_warning {
        @{b} {
            &__icon-container {
                background-color: var(--137C20);

                svg { /* stylelint-disable-line max-nesting-depth */
                    fill: var(--137C);
                }
            }
        }
    }

    &_type_info {
        @{b} {
            &__icon-container {
                background-color: var(--311C20);

                svg { /* stylelint-disable-line max-nesting-depth */
                    fill: var(--311C);
                }
            }
        }
    }

    &_colored {
        @{b} {
            &__icon-container {
                background-color: var(--base);
            }
        }
    }

    &_colored&_type_info {
        background-color: var(--311C20);
    }

    &_colored&_type_warning {
        background-color: var(--137C20);
    }

    &_colored&_type_success {
        background-color: var(--brandGreen20);
    }

    &_colored&_type_info,
    &_colored&_type_warning,
    &_colored&_type_success {
        @{b} {
            &__title,
            &__text {
                color: var(--content);
            }

            &__link {
                color: var(--systemBlue);
            }
        }
    }

    &_colored&_type_error {
        background-color: var(--fury80);

        @{b} {
            &__title,
            &__text,
            &__link {
                color: var(--stcWhite);
            }

            &__link-arrow {
                fill: var(--stcWhite);
            }

            &__icon-container {
                background-color: var(--stcWhite20);

                svg { /* stylelint-disable-line max-nesting-depth */
                    fill: var(--stcWhite);
                }
            }
        }
    }
}
