@import '~@megafon/ui-core/styles/base.less';

@b: e('.mfui-text-with-icon-item');

@{b} {
    display: flex;
    align-items: center;

    &:not(:first-of-type) {
        margin-top: 16px;

        @media @mobileSM {
            margin-top: 24px;
        }
    }

    &__svg-icon {
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;

        margin-right: 16px;
        overflow: hidden;
    }

    &_centering-on-mobile {
        @media @mobileSM {
            flex-direction: column;
        }
    }

    &_centering-on-mobile &__text {
        @media @mobileSM {
            margin-top: 12px;

            text-align: center;
        }
    }

    &_centering-on-mobile &__svg-icon {
        @media @mobileSM {
            margin-right: 0;
        }
    }
}
