.docz-table {
    width: 100%;
    margin: 32px 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;

    &__th {
        border-bottom: 2px solid;

        vertical-align: bottom;
    }

    &__td {
        margin-top: -1px;
        border-bottom: 1px solid;

        vertical-align: top;
    }

    &__th,
    &__td {
        padding: 4px 4px 4px 0;
        border-color: var(--spbSky3);
        border-bottom-style: solid;

        font-size: 20px;
        text-align: left;
    }
}
