.docz-props {
    @media screen and (max-width: 767px) {
        overflow-x: scroll;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
    }

    &__cell {
        padding: 12px 0;
        border-bottom: 1px solid var(--spbSky2);

        color: var(--content);
        font-size: 15px;
        line-height: 24px;
        text-align: left;
        vertical-align: top;

        &:not(:first-child) {
            padding-left: 5px;
        }

        &:not(:last-child) {
            padding-right: 5px;
        }

        & p {
            margin: 0 !important;
            padding: 0 !important;
        }

        &_title {
            color: var(--spbSky2);
            font-size: 15px;
            line-height: 24px;
        }

        &_first {
            width: 20%;
        }

        &_second {
            width: 35%;
        }

        &_third {
            width: 20%;
        }

        &_fourth {
            width: 25%;
        }

        &_name {
            color: var(--systemBlue);
        }
    }
}
