.idea
*.iml
node_modules
lerna-debug.log

.vscode
.DS_Store

.npmrc
yarn-error.log
.docz
docs
index.mdx
intro.mdx

const renderSubscription = (): JSX.Element | null => {
    return (!!subscription?.length && !isSelectedConvergetntTariff) ? (
        <div className={cn('subscription')}>
            <TariffsSubscriptionWrapper
                servicePacks={subscription}
                tariffPrice={productPrice}
                chosenSubscription={selectedSubscription}
                priceTooltip={priceTooltip}
                isHidePrice
                onSubscriptionSelect={handleSelectSubscription}
            />
        </div>
    ) : null;
};
