@import '~@megafon/ui-core/styles/base.less';
@b: e('.mfui-beta-card');

@horizontalIndent: 20px;
@horizontalIndentSM: 16px;
@verticalIndent: 32px;
@verticalIndentSM: 24px;

@{b} {
    border-radius: 8px;
    box-shadow: 0 0.25px 3px rgba(0, 0, 0, 0.25);
    background-color: @clearWhite;
    overflow: hidden;

    &_href {
        * {
            text-decoration: none;
        }

        &:hover {
            box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
        }
    }

    &__inner {
        padding: @verticalIndent @horizontalIndent;

        @media @mobileSM {
            padding: @verticalIndentSM @horizontalIndentSM;
        }
    }

    &__title {
        margin-bottom: 12px;
    }

    &__btns-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 12px;
    }

    &__btns-wrapper_left-align {
        justify-content: flex-start;
    }

    &__fake-link {
        color: @link;
    }

    &__button,
    &__link,
    &__fake-link {
        margin: 12px 10px;
    }

    &__pic-wrapper {
        margin-bottom: 32px;

        @media @mobileSM {
            margin-bottom: 24px;
        }
    }

    &__pic-wrapper &__img {
        max-width: 100%;
    }

    &__pic-wrapper svg {
        width: 40px;
        height: 40px;
    }

    &__pic-wrapper_img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -(@verticalIndent);
        margin-left: -(@horizontalIndent);
        margin-right: -(@horizontalIndent);

        @media @mobileSM {
            margin-top: -(@verticalIndentSM);
            margin-left: -(@horizontalIndentSM);
            margin-right: -(@horizontalIndentSM);
        }
    }

    &__pic-wrapper_object-fit_fill img {
        width: 100%;
        height: auto;
    }

    &__pic-wrapper_object-fit_contain img {
        width: auto;
        height: 100%;
    }
}
