@import '~@megafon/ui-core/styles/base.less';

@b: e('.mfui-text-box');
@header: e('.mfui-header');
@textBoxPicture: e('.mfui-text-box-picture');
@k23: e('.mfui-text-with-icon');

@{b} {
    &__content :first-child {
        margin-top: 0 !important;
    }

    &__content :last-child {
        margin-bottom: 0 !important;
    }

    &_text-center {
        text-align: center;
    }

    @{k23} {
        margin: 24px 0;
    }

    @{k23} + @{header} {
        margin-top: 32px;
    }

    @{textBoxPicture} + @{k23} {
        margin: 32px 0 24px;
    }
}
