@import '~styles/base.less';

.mfui-paragraph {
    .fontFamily();
    margin: 0;

    &_align_left {
        text-align: left;
    }

    &_align_center {
        text-align: center;
    }

    &_align_right {
        text-align: right;
    }

    &_size_regular {
        font-size: 15px;
        line-height: 24px;
    }

    &_size_small {
        font-size: 12px;
        line-height: 16px;
    }

    &_has-margin {
        margin: 0 0 16px;
    }

    &_color_green {
        color: @green;
    }

    &_color_purple {
        color: @purple;
    }

    &_color_clearWhite {
        color: @clearWhite;
    }

    &_color_spbSky0 {
        color: @spbSky0;
    }

    &_color_spbSky1 {
        color: @spbSky1;
    }

    &_color_spbSky2 {
        color: @spbSky2;
    }

    &_color_freshAsphalt {
        color: @freshAsphalt;
    }

    &_color_fullBlack {
        color: @fullBlack;
    }

    &_color_inherit {
        color: inherit;
    }
}
