.docz-sidebar {
    width: 240px;
    height: 100vh;

    &__logo-wrapper {
        display: flex;
        align-items: center;
        padding: 24px 16px 32px;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__logo {
        padding: 16px 16px 16px 8px;
        margin-right: 8px;
    }

    &__menu {
        max-height: calc(100vh - 116px - 64px);
        overflow: auto;

        @media screen and (max-width: 768px) {
            max-height: calc(100vh - 88px - 48px);
            margin-top: 24px;
        }
    }
}
