.docz-sidebar {
    width: 240px;
    height: 100vh;

    &__logo-wrapper {
        padding: 24px 16px 32px;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__logo {
        width: 100%;
        padding: 16px 8px;
    }

    &__menu {
        max-height: calc(100vh - 116px);
        overflow: auto;
        margin-bottom: 24px;

        @media screen and (max-width: 768px) {
            margin-top: 24px;
            max-height: calc(100vh - 24px - 48px);
        }
    }
}
