@import '~styles/base';

.mfui-beta-content-area {
    // mod: color

    &_color_white {
        background-color: @clearWhite;
    }

    &_color_transparent {
        background-color: transparent;
    }

    &_color_green {
        background-color: @green;
    }

    &_color_purple {
        background-color: @purple;
    }

    &_color_spbSky0 {
        background-color: @spbSky0;
    }

    &_color_spbSky1 {
        background-color: @spbSky1;
    }

    &_color_spbSky2 {
        background-color: @spbSky2;
    }

    &_color_freshAsphalt {
        background-color: @freshAsphalt;
    }

    &_color_fullBlack {
        background-color: @fullBlack;
    }

    &__inner {
        margin: 0 auto;
        max-width: 1440px;
        box-sizing: content-box;
        padding-left: @contentHorizontalIndentDesktopMU;
        padding-right: @contentHorizontalIndentDesktopMU;

        @media @mobileSM {
            padding-left: @contentHorizontalIndentMobileSM;
            padding-right: @contentHorizontalIndentMobileSM;
        }

        @media @mobileB {
            padding-left: @contentHorizontalIndentMobileB;
            padding-right: @contentHorizontalIndentMobileB;
        }

        @media @desktopS {
            padding-left: @contentHorizontalIndentDesktopS;
            padding-right: @contentHorizontalIndentDesktopS;
        }
    }

    // mod: disable-indents

    &__inner_disable-indents_mobile {
        @media @mobileSM {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__inner_disable-indents_mobile-tablet {
        @media @mobile {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__inner_disable-indents_tablet-desktop {
        @media @mobileBU {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__inner_disable-indents_all {
        padding-left: 0;
        padding-right: 0;
    }

    // mod: color

    &__inner_color_white {
        background-color: @clearWhite;
    }

    &__inner_color_transparent {
        background-color: transparent;
    }

    &__inner_color_green {
        background-color: @green;
    }

    &__inner_color_purple {
        background-color: @purple;
    }

    &__inner_color_spbSky0 {
        background-color: @spbSky0;
    }

    &__inner_color_spbSky1 {
        background-color: @spbSky1;
    }

    &__inner_color_spbSky2 {
        background-color: @spbSky2;
    }

    &__inner_color_freshAsphalt {
        background-color: @freshAsphalt;
    }

    &__inner_color_fullBlack {
        background-color: @fullBlack;
    }
}
