@import '~styles/base';

.mfui-beta-content-area {
    // mod: color

    &_color_white {
        background-color: @clearWhite;
    }

    &_color_transparent {
        background-color: transparent;
    }

    &_color_green {
        background-color: @green;
    }

    &_color_purple {
        background-color: @purple;
    }

    &_color_spbSky0 {
        background-color: @spbSky0;
    }

    &_color_spbSky1 {
        background-color: @spbSky1;
    }

    &_color_spbSky2 {
        background-color: @spbSky2;
    }

    &_color_freshAsphalt {
        background-color: @freshAsphalt;
    }

    &_color_fullBlack {
        background-color: @fullBlack;
    }

    &__inner {
        margin: 0 auto;
        max-width: 1440px;
    }

    // mod: padding

    &__inner_padding_none {
        padding-left: 0;
        padding-right: 0;
    }

    &__inner_padding_default {
        padding-left: 80px;
        padding-right: 80px;

        @media @mobileSM {
            padding-left: 16px;
            padding-right: 16px;
        }

        @media @mobileB {
            padding-left: 48px;
            padding-right: 48px;
        }

        @media @desktopS {
            padding-left: 64px;
            padding-right: 64px;
        }
    }

    &__inner_mobile-padding_none {
        @media @mobileSM {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // mod: color

    &__inner_color_white {
        background-color: @clearWhite;
    }

    &__inner_color_transparent {
        background-color: transparent;
    }

    &__inner_color_green {
        background-color: @green;
    }

    &__inner_color_purple {
        background-color: @purple;
    }

    &__inner_color_spbSky0 {
        background-color: @spbSky0;
    }

    &__inner_color_spbSky1 {
        background-color: @spbSky1;
    }

    &__inner_color_spbSky2 {
        background-color: @spbSky2;
    }

    &__inner_color_freshAsphalt {
        background-color: @freshAsphalt;
    }

    &__inner_color_fullBlack {
        background-color: @fullBlack;
    }
}
