@import '~@megafon/ui-core/styles/base.less';
@root: e('.mfui-beta-download-link');

@{root} {
    display: flex;

    &__icon {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        margin-right: 22px;

        @media @mobile {
            width: 32px;
            height: 32px;
        }
    }

    &__info {
        margin: 0;
        .small();
        color: rgba(@freshAsphalt, 0.5);
        text-transform: uppercase;
    }
}
