@import (reference) '~styles/base.less';

@b: e('.mfui-button');

@{b} {
    .fontFamily();
    .commonFont();

    display: inline-block;
    box-sizing: border-box;
    padding: 0 32px;
    border: none;
    border-radius: 30px;

    color: var(--stcWhite);
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    vertical-align: top;

    background-color: transparent;
    outline: none;
    cursor: pointer;

    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    .generateSize(all);

    @media @desktopMU {
        .generateSize(wide);
    }
    @media @desktop {
        .generateSize(desktop);
    }
    @media @mobileB {
        .generateSize(tablet);
    }
    @media @mobileSM {
        .generateSize(mobile);
    }

    &:hover {
        text-decoration: none;
    }

    &_disabled {
        cursor: default;
    }

    &__inner {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;

        vertical-align: top;
    }

    &__text {
        margin-bottom: 2px;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__icon-arrow {
        width: 32px;
        height: 32px;
        margin-right: -8px;
        margin-left: 4px;
    }

    &_content-type_icon {
        padding: 0;
    }

    &_content-type_icon-text &__icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        margin-left: -8px;
    }

    &_content-type_icon-text&_size-all_small &__icon {
        display: none;
    }

    // type = primary
    // theme = green

    &_type_primary&_theme_green {
        color: var(--stcWhite);

        background-color: var(--green);

        svg {
            fill: var(--stcWhite);
        }
    }

    &_no-touch&_type_primary&_theme_green {
        &:not(@{b}_loading):hover {
            background-color: var(--buttonHoverGreen);
            box-shadow: inset 0 0 0 1px var(--buttonHoverGreen);
        }

        &:not(@{b}_loading):active {
            background-color: var(--buttonDown);
            box-shadow: inset 0 0 0 1px var(--buttonDown);
        }
    }

    // type = primary
    // theme = purple

    &_type_primary&_theme_purple {
        color: var(--stcWhite);

        background-color: var(--purple);

        svg {
            fill: var(--stcWhite);
        }
    }

    &_no-touch&_type_primary&_theme_purple {
        &:not(@{b}_loading):hover {
            background-color: var(--buttonhoverPurple);
            box-shadow: inset 0 0 0 1px var(--buttonhoverPurple);
        }

        &:not(@{b}_loading):active {
            background-color: var(--buttonDown);
            box-shadow: inset 0 0 0 1px var(--buttonDown);
        }
    }

    // type = primary
    // theme = white

    &_type_primary&_theme_white {
        color: var(--stcBlack);

        background-color: var(--stcWhite);

        svg {
            fill: var(--stcBlack);
        }
    }

    &_no-touch&_type_primary&_theme_white {
        &:not(@{b}_loading):hover {
            color: var(--stcBlack);

            background-color: var(--buttonHoverGreen);
            box-shadow: inset 0 0 0 1px var(--buttonHoverGreen);

            svg {
                fill: var(--stcBlack);
            }
        }

        &:not(@{b}_loading):active {
            background-color: var(--buttonDown);
            box-shadow: inset 0 0 0 1px var(--buttonDown);
        }
    }

    // type = outline
    // theme = green

    &_type_outline&_theme_green {
        color: var(--green);

        background-color: transparent;
        box-shadow: inset 0 0 0 1px var(--green);

        svg {
            fill: var(--green);
        }
    }

    &_no-touch&_type_outline&_theme_green {
        --green7: rgba(0, 185, 86, 0.07);
        --green14: rgba(0, 185, 86, 0.14);

        &:not(@{b}_loading):hover {
            background-color: var(--green7);
        }

        &:not(@{b}_loading):active {
            background-color: var(--green14);
        }
    }

    // type = outline
    // theme = purple

    &_type_outline&_theme_purple {
        color: var(--purple);

        background-color: transparent;
        box-shadow: inset 0 0 0 1px var(--purple);

        svg {
            fill: var(--purple);
        }
    }

    &_no-touch&_type_outline&_theme_purple {
        --purple7: rgba(115, 25, 130, 0.07);
        --purple14: rgba(115, 25, 130, 0.14);

        &:not(@{b}_loading):hover {
            background-color: var(--purple7);
        }

        &:not(@{b}_loading):active {
            background-color: var(--purple14);
        }
    }

    // type = outline
    // theme = white

    &_type_outline&_theme_white {
        color: var(--stcWhite);

        background-color: transparent;
        box-shadow: inset 0 0 0 1px var(--stcWhite);

        svg {
            fill: var(--stcWhite);
        }
    }

    &_no-touch&_type_outline&_theme_white {
        --base7: rgba(255, 255, 255, 0.07);
        --base14: rgba(255, 255, 255, 0.14);

        &:not(@{b}_loading):hover {
            background-color: var(--base7);
        }

        &:not(@{b}_loading):active {
            background-color: var(--base14);
        }
    }

    // type = outline
    // theme = black

    &_type_outline&_theme_black {
        color: var(--stcBlack);

        background-color: transparent;
        box-shadow: inset 0 0 0 1px var(--stcBlack);

        svg {
            fill: var(--stcBlack);
        }
    }

    &_no-touch&_type_outline&_theme_black {
        --content7: rgba(51, 51, 51, 0.07);
        --content14: rgba(51, 51, 51, 0.14);

        &:not(@{b}_loading):hover {
            background-color: var(--content7);
        }

        &:not(@{b}_loading):active {
            background-color: var(--content14);
        }
    }

    &_full-width {
        display: block;
        width: 100%;
    }

    svg {
        display: block;
    }

    &&_type_primary&_disabled,
    &&_no-touch&_type_primary&_disabled,
    &&_no-touch&_type_primary&_disabled:hover,
    &&_no-touch&_type_primary&_disabled:active {
        color: var(--spbSky3);

        background-color: var(--spbSky1);
        box-shadow: inset 0 0 0 1px var(--spbSky3);

        svg {
            fill: var(--spbSky3);
        }
    }

    &&_type_outline&_theme_white&_disabled,
    &&_no-touch&_type_outline&_theme_white&_disabled,
    &&_no-touch&_type_outline&_theme_white&_disabled:hover,
    &&_no-touch&_type_outline&_theme_white&_disabled:active {
        color: var(--stcWhite50);

        background-color: transparent;
        box-shadow: inset 0 0 0 1px var(--stcWhite50);

        svg {
            fill: var(--stcWhite50);
        }
    }

    &&_type_outline&_disabled,
    &&_no-touch&_type_outline&_disabled,
    &&_no-touch&_type_outline&_disabled:hover,
    &&_no-touch&_type_outline&_disabled:active {
        color: var(--spbSky3);

        background-color: transparent;
        box-shadow: inset 0 0 0 1px var(--spbSky3);

        svg {
            fill: var(--spbSky3);
        }
    }
}

.generateSize(@resolution) {
    &_size-@{resolution}_small &__inner {
        min-width: 32px;
        height: 32px;
    }

    &_size-@{resolution}_medium &__inner {
        min-width: 48px;
        height: 48px;
    }

    &_size-@{resolution}_large &__inner {
        min-width: 60px;
        height: 60px;
    }

    &_size-@{resolution}_small &__icon {
        width: 24px;
        height: 24px;
    }

    &_size-@{resolution}_medium &__icon {
        width: 32px;
        height: 32px;
    }

    &_size-@{resolution}_large &__icon {
        width: 40px;
        height: 40px;
    }
}
