@import (reference) '~styles/base.less';

.placeholder() {
    color: var(--spbSky3);

    opacity: 0;

    transition: opacity 0.2s;
}

@keyframes listAppear {
    from {
        opacity: 0;
    }

    99% {
        opacity: 0.99;
    }

    to {
        opacity: 1;
    }
}

@b: e('.mfui-search');

@{b} {
    .fontFamily();
    .commonFont();
    position: relative;
    z-index: auto;

    min-height: 40px;

    color: var(--content);

    &__require-mark {
        margin-left: 1px;

        color: var(--fury);
        font-size: 20px;
        line-height: 0;
    }

    &__control {
        position: relative;
        z-index: 1;

        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        padding: 0 16px 0 16px;
        border: 1px solid var(--spbSky2);
        border-radius: 12px;

        background-color: var(--base);
        outline: none;
        cursor: pointer;

        user-select: none;
    }

    &__control_error {
        border-color: var(--fury);
    }

    &__search-wrapper {
        position: relative;

        display: block;
        width: 100%;

        cursor: text;
    }

    &__search-wrapper_labeled {
        padding-top: 22px;
    }

    &__label {
        position: absolute;
        top: 18px;
        z-index: 1;

        display: block;
        overflow: auto;

        color: var(--spbSky3);

        transition: transform 0.5s, top 0.5s;

        pointer-events: none;
        .fontFamily();
        .commonFont();
    }

    &__search-field::-webkit-input-placeholder {
        .placeholder();
    }

    &__search-field:-moz-placeholder {
        .placeholder();
    }

    &__search-field:-ms-input-placeholder {
        .placeholder();
    }

    &__search-field::placeholder {
        .placeholder();
    }

    &__search-wrapper_labeled & {
        &__search-field:focus::-webkit-input-placeholder {
            opacity: 1;
        }

        &__search-field:focus:-moz-placeholder {
            opacity: 1;
        }

        &__search-field:focus:-ms-input-placeholder {
            opacity: 1;
        }
    }

    &__search-field_filled + &__label,
    &__search-field:focus + &__label {
        transform: scale(0.8) translate(-12.5%, -75%);

        transition-duration: 0.2s, 0.01s;
    }

    &__search-field {
        position: relative;
        z-index: 1;

        flex-grow: 1;
        box-sizing: border-box;
        height: 100%;
        //fix for ios - Focus on input with padding (filled with text) pushes cursor out of bounds
        padding: 0;
        border: none;
        border-radius: 0;
        overflow: auto;

        color: var(--content);

        font-family: inherit;
        line-height: 25px;

        background-color: transparent;
        outline: none;
        box-shadow: none;
        opacity: 1;

        appearance: none;

        @media @mobileSM {
            width: 90%;
        }
    }

    &__list {
        position: absolute;
        top: calc(100% + 1px);
        right: -1px;
        left: -1px;
        z-index: 0;

        display: none;

        border-radius: 12px;

        background-color: var(--base);
        box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2);
    }

    &__icon {
        display: block;
        width: 32px;
        height: 32px;

        user-select: none;
        fill: var(--content);
    }

    &__icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        text-align: center;

        fill: var(--content);
    }

    &__list-inner {
        box-sizing: border-box;
        max-height: 368px;
        padding: 12px 0;
        overflow-y: auto;
    }

    &__list-item {
        .fontFamily();
        padding: 8px 32px;
        border-radius: 16px;

        background-color: var(--base);
        cursor: pointer;
    }

    &__list-item_active {
        background-color: var(--spbSky0);
    }

    &__item-title {
        position: relative;

        flex-grow: 1;
        overflow: hidden;

        white-space: nowrap;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            width: 40px;

            background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--base));
        }
    }

    &__list-item_active &__item-title {
        &:after {
            background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--spbSky0));
        }
    }

    &_open &__list {
        display: block;
        border-color: var(--content);

        animation-name: listAppear;

        animation-duration: 0.3s;
    }

    &_open {
        z-index: 12;
    }

    &_disabled &__control {
        border-color: var(--spbSky1);

        background-color: var(--spbSky1);
        cursor: default;

        pointer-events: none;
    }

    &_disabled &__icon {
        opacity: 0.5;
    }

    &__highlighted-fragment {
        font-weight: bold;
    }

    &__notice {
        margin-top: 4px;

        font-size: 12px;
        line-height: 16px;
    }

    &__notice_error {
        color: var(--fury);
    }

    &__notice_success {
        color: var(--brandGreen);
    }
}
