@import (reference) '~styles/base.less';

@b: e('.mfui-tooltip');
@popperLeft: ~"[data-popper-placement='left']";
@popperLeftStart: ~"[data-popper-placement='left-start']";
@popperLeftEnd: ~"[data-popper-placement='left-end']";
@popperRight: ~"[data-popper-placement='right']";
@popperRightStart: ~"[data-popper-placement='right-start']";
@popperRightEnd: ~"[data-popper-placement='right-end']";
@popperTop: ~"[data-popper-placement='top']";
@popperTopStart: ~"[data-popper-placement='top-start']";
@popperTopEnd: ~"[data-popper-placement='top-end']";
@popperBottom: ~"[data-popper-placement='bottom']";
@popperBottomStart: ~"[data-popper-placement='bottom-start']";
@popperBottomEnd: ~"[data-popper-placement='bottom-end']";
@popperEscaped: ~"[data-popper-escaped='true']";

.arrowSize() {
    width: 33px;
    height: 13px;
}

.arrow() {
    .arrowSize();
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

@{b} {
    z-index: 100;

    visibility: hidden;
    opacity: 0;

    transition-duration: @defaultTransitionTiming;
    transition-property: opacity, visibility;

    pointer-events: none;

    &_open {
        visibility: visible;
        opacity: 1;

        pointer-events: all;
    }

    &_paddings_small {
        @{b}__content {
            padding: 16px;
        }
    }

    &_paddings_medium {
        @{b}__content {
            padding: 24px;
        }
    }

    &__content {
        position: relative;
        z-index: 1;

        overflow: hidden;
    }

    &__content-shadow {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    &__top,
    &__main-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__top {
        @media @mobileBU {
            gap: 12px;
        }
    }

    &__top_margin {
        margin-bottom: 16px;
    }

    &__arrow-container {
        position: absolute;
    }

    &__arrow-wrap {
        .arrowSize();
    }

    &__arrow {
        .arrowSize();
        position: absolute;

        display: flex;
        justify-content: center;

        svg {
            position: absolute;
        }
    }

    &__arrow-inner {
        filter: drop-shadow(0 2px 9px rgba(0, 0, 0, 0.15));

        fill: var(--base);
    }

    &__text {
        .commonFont();

        @media @mobileSM {
            .smallFont();
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__button,
    &__close-button {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0;

        border: none;

        cursor: pointer;
    }

    &__button {
        .fontFamily();

        color: var(--brandGreen);

        font-weight: 500;
        font-size: 15px;
        line-height: 18px;

        background-color: transparent;

        transition: 300ms;

        @media @mobileSM {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__button:hover {
        color: var(--buttonHoverGreen);

        @{b}__button-arrow {
            fill: var(--buttonHoverGreen);
        }
    }

    &__button:active {
        color: var(--buttonDown);

        @{b}__button-arrow {
            fill: var(--buttonDown);
        }
    }

    &__close-button {
        position: relative;
        top: -6px;
        right: -6px;

        justify-content: center;

        float: right;
        width: 24px;
        height: 24px;

        border-radius: 12px;

        background-color: var(--spbSky0);

        transition: 300ms;
    }

    &__close-button:hover {
        background-color: var(--spbSky1);
    }

    &__close-button:active {
        background-color: var(--spbSky2);
    }

    &__close-icon {
        display: block;
        width: 20px;
        height: 20px;

        opacity: 0.5;

        fill: var(--content);
    }

    &__button-arrow {
        width: 20px;
        min-width: 20px;
        height: 20px;

        margin-bottom: -2px;

        transition: 300ms;

        fill: var(--brandGreen);
    }

    &_small {
        @{b}__content {
            display: flex;
            flex-direction: row-reverse;
            gap: 18px;
            align-items: center;
        }

        @{b}__text {
            font-weight: 500;
        }

        @{b}__close-button {
            top: auto;
        }
    }

    &_theme_red,
    &_theme_blue {
        @{b}__content,
        @{b}__arrow:before,
        @{b}__title,
        @{b}__button {
            color: var(--stcWhite);
        }

        @{b}__button-arrow {
            fill: var(--stcWhite);
        }

        @{b}__button:hover {
            color: var(--buttonHoverGrey);

            @{b}__button-arrow {
                fill: var(--buttonHoverGrey);
            }
        }

        @{b}__button:active {
            color: var(--buttonDown);

            @{b}__button-arrow {
                fill: var(--buttonDown);
            }
        }

        @{b}__close-button {
            background-color: var(--stcWhite10);
        }

        @{b}__close-button:hover {
            background-color: var(--stcWhite20);
        }

        @{b}__close-button:active {
            background-color: var(--stcWhite50);
        }

        @{b}__close-icon {
            opacity: 1;

            fill: var(--stcWhite);
        }
    }

    &_theme_red {
        @{b}__content,
        @{b}__content-shadow,
        @{b}__arrow:before {
            background-color: var(--fury80);
        }

        @{b}__arrow-inner {
            fill: var(--fury80);
        }
    }

    &_theme_blue {
        @{b}__content,
        @{b}__content-shadow,
        @{b}__arrow:before {
            background-color: var(--reflexBlue80);
        }

        @{b}__arrow-inner {
            fill: var(--reflexBlue80);
        }
    }

    &@{popperRight},
    &@{popperRightStart},
    &@{popperRightEnd} {
        @{b} {
            &__content,
            &__content-shadow {
                transform: translateX(24px);
            }

            &__arrow-wrap {
                left: 3px;
            }

            &__arrow,
            &__arrow-shadow {
                transform: rotate(-90deg);
            }
        }
    }

    &@{popperLeft},
    &@{popperLeftStart},
    &@{popperLeftEnd} {
        @{b} {
            &__content,
            &__content-shadow {
                transform: translateX(-24px);
            }

            &__arrow-wrap {
                right: 3px;
            }

            &__arrow,
            &__arrow-shadow {
                transform: rotate(90deg);
            }
        }
    }

    &@{popperTop},
    &@{popperTopStart},
    &@{popperTopEnd} {
        @{b} {
            &__content,
            &__content-shadow {
                transform: translateY(-24px);
            }

            &__arrow-wrap {
                bottom: 13px;
            }

            &__arrow,
            &__arrow-shadow {
                transform: rotate(180deg);
            }
        }
    }

    &@{popperBottom},
    &@{popperBottomStart},
    &@{popperBottomEnd} {
        @{b} {
            &__content,
            &__content-shadow {
                transform: translateY(24px);
            }

            &__arrow-wrap {
                top: 13px;
            }
        }
    }

    &@{popperEscaped}&_has-escape {
        visibility: hidden;

        pointer-events: none;
    }
}
