@import '~styles/base.less';

@b: e('.mfui-beta-list');

@{b} {
    .fontFamily();
    .commonFont();
    margin: 12px 0 12px 40px;
    padding: 0;

    font-style: normal;

    &_type_ul {
        list-style: disc;
    }

    &_type_ol {
        list-style: decimal;
    }

    &_h-align_center {
        text-align: center;
    }

    &_h-align_right {
        text-align: right;
    }

    &_color_black {
        color: @freshAsphalt;
    }

    &_color_white {
        color: @clearWhite;
    }

    &_color_gray {
        color: @spbSky2;
    }

    &_color_green {
        color: @green;
    }

    &_color_purple {
        color: @purple;
    }

    &_color_red {
        color: @fury;
    }

    &_color_inherit {
        color: inherit;
    }

    &_weight_light {
        font-weight: 300;
    }

    &_weight_regular {
        font-weight: 400;
    }

    &_weight_bold {
        font-weight: 600;
    }
}
