@import (reference) '~styles/base.less';

@b: e('.mfui-list');

@{b} {
    .fontFamily();
    .commonFont();
    display: flex;
    justify-content: flex-start;
    margin: 12px 0 12px 40px;

    font-style: normal;

    &_h-align_center {
        justify-content: center;
    }

    &_h-align_right {
        justify-content: flex-end;
    }

    &_color_default {
        color: var(--content);
    }

    &_color_black {
        color: var(--stcBlack);
    }

    &_color_white {
        color: var(--stcWhite);
    }

    &_color_gray {
        color: var(--spbSky2);
    }

    &_color_green {
        color: var(--brandGreen);
    }

    &_color_purple {
        color: var(--brandPurple);
    }

    &_color_red {
        color: var(--fury);
    }

    &_color_inherit {
        color: inherit;
    }

    &_weight_light {
        font-weight: 300;
    }

    &_weight_regular {
        font-weight: 400;
    }

    &_weight_bold {
        font-weight: 600;
    }

    &__inner {
        margin: 0;
        padding: 0;
    }

    &__inner_type_ul {
        list-style: disc;
    }

    &_inner_type_ol {
        list-style: decimal;
    }
}
