@import (reference) '~styles/base.less';

@b: e('.mfui-tabs');
@swiperWrapper: e('.swiper-wrapper');

@{b} {
    &__swiper {
        .fontFamily();
        .h5();
        position: relative;

        display: flex;
        overflow: hidden;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;

            width: 64px;

            pointer-events: none;
        }

        &:before {
            left: 0;

            background: linear-gradient(to right, var(--base), rgba(255, 255, 255, 0));
        }

        &:after {
            right: 0;

            background: linear-gradient(to left, var(--base), rgba(255, 255, 255, 0));
        }
    }

    &__swiper_beginning {
        &:before {
            display: none;
        }
    }

    &__swiper_end {
        &:after {
            display: none;
        }
    }

    @{swiperWrapper} {
        position: relative;
        z-index: 0;

        display: flex;
        max-width: 100%;

        @media @mobileSM {
            width: 100%;
        }
    }

    &__slide {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        flex-shrink: 0;

        @media @mobileSM {
            flex-grow: 1;
        }
    }

    &__tab-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        height: 32px;

        color: var(--content);
        white-space: nowrap;
        text-decoration: none;

        cursor: pointer;

        fill: var(--content);

        &:hover {
            color: var(--brandGreen);

            fill: var(--brandGreen);
        }
    }

    &__tab-inner_current {
        color: var(--brandGreen);

        fill: var(--brandGreen);
    }

    &__tab-icon {
        width: 32px;
        height: 32px;

        &:not(:last-child) {
            margin-right: 8px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__panel {
        display: none;
    }

    &__panel_current {
        display: block;
    }

    &__underline {
        position: absolute;
        bottom: 0;
        left: 0;

        height: 2px;

        background-color: var(--brandGreen);

        transition-duration: @defaulTransitionTiming;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        z-index: 2;

        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;

        background-color: var(--stcBlack);
        transform: translateY(-50%);
        cursor: pointer;

        fill: var(--base);

        @media @mobile {
            display: none;
        }
    }

    &__arrow_prev {
        left: 0;
    }

    &__arrow_next {
        right: 0;
    }

    &__arrow_hide {
        display: none;
    }

    // mod size small

    &_size_small {
        @{b}__slide:not(:last-child) @{b}__tab {
            padding-right: 40px;

            @media @mobileSM {
                padding-right: 32px;
            }
        }

        @{b}__tab-inner {
            justify-content: start;
            height: 24px;
            padding: 7px 0;

            @media @mobileSM {
                padding: 3px 0;
            }
        }

        @{b}__tab-icon {
            width: 24px;
            height: 24px;
        }
    }

    // mod size medium

    &_size_medium {
        @{b}__tab-inner {
            padding: 7px 24px;

            @media @mobileSM {
                padding: 3px 16px;
            }
        }
    }

    // mod size large

    &_size_large {
        @{b}__swiper {
            .h3();
        }

        @{b}__tab-inner {
            padding: 11px 24px;

            @media @mobileSM {
                padding: 7px 16px;
            }
        }
    }

    // mod hAlign center

    &_h-align_center {
        @{b}__swiper {
            justify-content: center;
        }

        @{b}__tab {
            border-bottom: 1px solid var(--stcWhite);
        }
    }

    &_h-align_left {
        @{b}__swiper-wrapper {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 1px;

                background-color: var(--spbSky2);
            }
        }
    }

    // mod indents

    &_indents {
        @{b}__swiper {
            @media @mobileB {
                margin: 0 -@contentHorizontalIndentMobileB;
                padding: 0 @contentHorizontalIndentMobileB;
            }
            @media @mobileSM {
                margin: 0 -@contentHorizontalIndentMobileSM;
                padding: 0 @contentHorizontalIndentMobileSM;
            }
        }
    }

    // mod sticky

    &_sticky {
        @{b}__swiper-wrapper {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 100;

            background-color: var(--base);
        }
    }

    // mod color green

    &_tab-color_green:not(&_sticky) {
        @{b}__swiper {
            &:before {
                left: 0;

                background: linear-gradient(to right, var(--brandGreen), transparent);
            }

            &:after {
                right: 0;

                background: linear-gradient(to left, var(--brandGreen), transparent);
            }
        }

        @{b}__tab {
            border-color: var(--stcBlack5);
        }

        @{b}__tab-inner {
            color: var(--stcWhite50);

            fill: var(--stcWhite50);

            &:hover {
                color: var(--stcWhite);

                fill: var(--stcWhite);
            }
        }

        @{b}__tab-inner_current {
            color: var(--stcWhite);

            fill: var(--stcWhite);
        }

        @{b}__underline {
            background-color: var(--stcWhite);
        }

        @{b}__arrow {
            background-color: var(--stcWhite);

            fill: var(--brandGreen);
        }
    }
}
