@import '~@megafon/ui-core/styles/base.less';

@b: e('.mfui-product-tile-value');

@{b} {
    .fontFamily();
    position: relative;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    vertical-align: bottom;
    max-height: 28px;

    @media @mobileB {
        max-height: 32px;
    }

    @media @desktopS {
        max-height: 36px;
    }

    @media @desktopMU {
        max-height: 40px;
    }

    &__prev {
        opacity: 1;
        transition: none;
    }
    &__prev_hide {
        opacity: 0;
        transition: opacity 0.5s;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__current {
        opacity: 1;
        transition: opacity 0.5s;
        display: inline-block;
    }
    &__current_hide {
        opacity: 0;
        transition: none;
        position: absolute;
    }
}
