.docz-playground {
    &__preview {
        margin-bottom: 8px;
        border: 1px solid #EDEDED;
        border-radius: 4px;
    }

    &__preview-content {
        padding: 16px;
    }

    &__editor {
        position: relative;
        border: 1px solid #EDEDED;
        border-radius: 4px;
        font-size: 15px;
        line-height: 24px;
    }

    &__copy {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;

        width: 24px;
        height: 24px;
        padding: 0;
        border:none;

        background: none;
        outline: none;
        cursor: pointer;
    }

    &__icon {
        display: block;
        width: 32px;
        height: 32px;
        opacity: 0.3;
    }
}
