@import '~styles/base';

@b: e('.mfui-beta-counter');

@text-color-disabled: @freshAsphalt50;

.disabled() {
    background-color: @spbSky1;
    cursor: default;
}

.iconDisabled() {
    fill: @text-color-disabled;
}

@{b} {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 120px;
    height: 32px;

    background-color: @clearWhite;

    &__btn {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        max-width: 32px;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 1px solid @spbSky2;

        font-size: 20px;
        text-decoration: none;

        background-color: transparent;
        outline: none;
        cursor: pointer;

        appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &:hover {
            background-color: @spbSky0;
        }

        &:disabled {
            .disabled();

            @{b}__icon {
                .iconDisabled();
            }
        }
    }

    &__btn_left {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    &__btn_right {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    &__icon {
        display: block;
        width: 20px;
        height: 20px;
    }

    &__input-box {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        border-top: 1px solid @spbSky2;
        border-bottom: 1px solid @spbSky2;
        overflow: hidden;
    }

    &__input {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: none;
        overflow: auto;

        text-align: center;

        outline: none;
        box-shadow: none;
        cursor: text;

        appearance: none;
    }

    &_disabled {
        @{b}__btn {
            .disabled();
        }

        @{b}__input {
            .disabled();
            color: @text-color-disabled;
        }

        @{b}__icon {
            .iconDisabled();
        }
    }
}
