@import (reference) '~styles/base.less';

@b: e('.mfui-accordion');

@{b} {
    border-radius: 12px;

    background: var(--spbSky0);

    & + & {
        margin-top: 8px;

        @media @mobileBU {
            margin-top: 12px;
        }
    }

    &__title-wrap {
        position: relative;

        padding: 20px 44px 20px 16px;
        border-radius: 12px;

        cursor: pointer;

        transition: background-color @defaultTransitionTiming;

        @media @mobileBU {
            padding: 20px 56px 20px 24px;
        }
    }

    &__title-wrap:hover {
        background-color: var(--spbSky1);
    }

    &__title-wrap:focus {
        @media @mobile {
            background-color: inherit;
        }
    }

    &__icon-box {
        position: absolute;
        top: 50%;
        right: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;
        border-radius: 50%;

        background-color: var(--stcWhite);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

        transform: translateY(-50%);

        @media @mobileBU {
            right: 24px;

            width: 32px;
            height: 32px;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;

        transition: transform 0.6s;

        @media @mobileBU {
            width: 32px;
            height: 32px;
        }
    }

    &__content-inner {
        padding: 4px 20px 20px 16px;

        @media @mobileBU {
            padding: 4px 24px 20px;
        }
    }

    &_opened & {
        &__icon {
            transform: rotate(180deg);
        }
    }
}
