@import '~styles/base.less';

.mfui-header {
    .fontFamily();
    font-weight: 400;

    &__addition {
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        margin-left: 12px;
    }

    &_level_h1 {
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        letter-spacing: 0.5px;

        @media @mobileB {
            font-size:36px;
            line-height: 40px;
        }
        @media @desktop {
            font-size: 44px;
            line-height: 48px;
        }
        @media @desktopMU {
            font-size: 52px;
            line-height: 56px;
        }
    }
    &_margin&_level_h1 {
        margin: 24px 0 32px 0;
    }

    &_level_h2 {
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
        letter-spacing: 0.5px;

        @media @mobileB {
            font-size: 26px;
            line-height: 32px;
        }
        @media @desktop {
            font-size: 28px;
            line-height: 36px;
        }
        @media @desktopMU {
            font-size: 32px;
            line-height: 40px;
        }
    }
    &_margin&_level_h2 {
        margin: 56px 0 24px 0;
    }

    &_level_h3 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.5px;
        @media @desktopMU {
            font-size: 20px;
            line-height: 28px;
        }
    }
    &_margin&_level_h3 {
        margin: 32px 0 24px 0;
    }

    &_level_h5 {
        .commonFont();
        font-weight: 500;
    }
    &_margin&_level_h5 {
        margin: 24px 0 16px 0;
    }

    &_level_h6 {
        font-size: 10px;
        line-height: 14px;
        font-weight: 300;
        @media @desktopMU {
            font-size: 12px;
        }
    }
    &_margin&_level_h6 {
        margin: 0;
    }

    &_color_black {
        color: @soggyAsphalt;
    }
    &_color_green {
        color: @green;
    }
    &_color_purple {
        color: @purple;
    }
    &_color_white {
        color: @clearWhite;
    }
    &_color_blue {
        color: @blue;
    }
    &_color_inherit {
        color: inherit;
    }

    &_h-align_left {
        text-align: left;
    }

    &_h-align_center {
        text-align: center;
    }

    &_h-align_right {
        text-align: right;
    }
}


