@import (reference) '~styles/base.less';

@b: e('.mfui-radio-button');

@{b} {
    &__input {
        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;
    }

    &__label {
        position: relative;

        display: inline-flex;
        align-items: center;

        outline: none;
        cursor: pointer;
    }

    &__custom-input {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin-right: 6px;

        &:before {
            content: '';

            display: block;
            box-sizing: border-box;
            width: 22px;
            height: 22px;
            border: 2px solid var(--spbSky2);
            border-radius: 50%;

            background-color: var(--base);

            transition: background-color, border-color;
            transition-duration: @defaultTransitionTiming;
        }
    }

    &__input:checked + &__custom-input:before {
        border: 7px solid var(--brandGreen);
    }

    &__label:not(&__label_disabled):hover &__custom-input:before {
        border-color: var(--buttonHoverGreen);
    }

    &__label:not(&__label_disabled):active &__custom-input:before {
        border-color: var(--buttonDown);
    }

    &__label_disabled {
        color: var(--spbSky3);

        cursor: default;

        @{b} {
            &__custom-input:before ,
            &__input:checked + @{b}__custom-input:before {
                border-color: var(--spbSky2);

                background-color: var(--spbSky1);
            }
        }
    }

    // mod: text size

    &__text_size_small {
        .smallFont();
    }

    &__text_size_medium {
        .p();
    }
}
