@import (reference) '~styles/base.less';

@b: e('.mfui-tile');

@{b} {
    color: var(--content);

    background-color: var(--base);

    &_radius_rounded {
        border-radius: 12px;
    }

    &_pointer {
        cursor: pointer;
    }

    // TODO: нужно удалить при выпуске мажорной версии

    &_shadow-color_light&_shadow_low {
        box-shadow: 0 0.25px 3px rgba(0, 0, 0, 0.25);
    }

    &_shadow-color_light&_shadow_high {
        box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);
    }

    &_shadow-color_dark&_shadow_low {
        box-shadow: 0 0.25px 3px rgba(0, 0, 0, 0.45);
    }

    &_shadow-color_dark&_shadow_high {
        box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
    }

    &_shadow-color_light&_shadow_default {
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    }

    &_shadow-color_light&_shadow_pressed {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    }

    &_shadow-color_light&_shadow_hover,
    &_shadow-color_light&_interactive:hover {
        box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
    }

    &_shadow-color_dark&_shadow_default {
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.16);
    }

    &_shadow-color_dark&_shadow_pressed {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }

    &_shadow-color_dark&_shadow_hover,
    &_shadow-color_dark&_interactive:hover {
        box-shadow: 0 8px 28px rgba(0, 0, 0, 0.2);
    }

    &__link {
        color: inherit;
    }

    &__link,
    &__link:hover {
        text-decoration: none;
    }
}
