@import '~@megafon/ui-core/styles/base.less';

@b: e('.mfui-beta-video-banner');

.centerAbsolute() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@{b} {
    position: relative;
    overflow: hidden;

    &__wrapper {
        display: flex;
        height: 400px;

        @media @desktopBU {
            height: 562px;
        }

        @media @desktopM {
            height: 500px;
        }

        @media @desktopMU {
            padding-left: 80px;
            padding-right: 80px;
        }

        @media @desktopS {
            padding-left: 64px;
            padding-right: 64px;
        }

        @media @mobileB {
            padding-left: 48px;
            padding-right: 48px;
        }

        @media @mobileSM {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &__video {
        max-width: 100%;
    }

    &__background-image,
    &__video {
        .centerAbsolute();
    }

    &__background-image_mobile {
        @media @desktop {
            display: none;
        }
    }

    &__content {
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 550px;
        height: 320px;

        @media @desktopS {
            width: 512px;
            height: 296px;
        }

        @media @mobileB {
            width: 384px;
            height: 272px;
        }

        @media @mobileSM {
            align-items: center;
            width: 288px;
            height: 316px;
        }
    }

    &__text {
        margin-bottom: 32px;
    }

    &__title {
        margin-bottom: 24px;

        @media @mobileSM {
            margin-bottom: 20px;
        }
    }

    &__title,
    &__text {
        @media @mobileSM {
            text-align: center;
        }
    }
}
