@import (reference) '~styles/base.less';

.placeholder() {
    color: var(--spbSky3);

    opacity: 0;

    transition: opacity 0.2s;
}

@keyframes listAppear {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@b: e('.mfui-select');

@{b} {
    position: relative;
    z-index: 1;

    box-sizing: border-box;

    min-height: 40px;

    color: var(--content);
    .fontFamily();
    .p();

    &__inner {
        position: relative;
    }

    &__control {
        position: relative;
        z-index: 11;

        box-sizing: border-box;
        width: 100%;
        height: 60px;
        border: 1px solid var(--spbSky2);
        border-radius: 12px;
        overflow: hidden;

        background-color: var(--base);
        outline: none;
        cursor: pointer;

        transition: border-color @defaultTransitionTiming;
    }

    &__control:after {
        content: '';

        position: absolute;
        top: 50%;
        right: 27px;
        z-index: 1;

        display: block;

        border-top: 6px solid;
        border-right: 5px solid transparent;
        border-bottom: none;
        border-left: 5px solid transparent;

        color: var(--brandGreen);

        cursor: pointer;

        transition: transform 0.6s;
    }

    &__combobox {
        .p();
        position: relative;
        z-index: 1;

        box-sizing: border-box;
        width: 100%;
        height: 100%;
        //fix for ios - Focus on input with padding (filled with text) pushes cursor out of bounds
        padding: 0 45px 0 16px;
        border: none;
        border-radius: 0;
        overflow: auto;

        color: var(--content);

        background-color: transparent;
        outline: none;
        box-shadow: none;
        cursor: text;
        opacity: 1;

        appearance: none;
    }

    &_no-touch &__control:hover,
    &_no-touch &__control:focus-within {
        border-color: var(--content);
    }

    &__title {
        position: relative;
        z-index: 1;

        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        outline: none;
    }

    &__title-value {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    &__title-inner_hide-value &__title-value {
        color: var(--spbSky3);
    }

    &__title-inner {
        position: relative;

        display: flex;
        flex-grow: 1;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        //fix for ios - Focus on input with padding (filled with text) pushes cursor out of bounds
        padding: 0 45px 0 16px;
        overflow: hidden;

        white-space: nowrap;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 40px;
            bottom: 0;

            width: 40px;

            background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--base));
        }
    }

    &__require-mark {
        margin-left: 1px;

        color: var(--fury);
        font-size: 20px;
        line-height: 0;
    }

    &__list {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 11;

        display: none;

        border-radius: 12px;

        background-color: var(--base);
        box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2);
    }

    &__list-inner {
        box-sizing: border-box;
        max-height: 368px;
        padding: 16px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--spbSky2) transparent;

        &_short {
            max-height: 235px;
        }
    }

    &__list-inner::-webkit-scrollbar {
        width: 16px;
    }

    &__list-inner::-webkit-scrollbar-thumb {
        border: 6px solid transparent;
        border-radius: 16px;

        background-color: #D8D8D8;
        background-clip: padding-box;
    }

    &__list-inner::-webkit-scrollbar-thumb:hover {
        background-color: #999999;
    }

    &__list-item {
        .fontFamily();
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 16px;

        background-color: var(--base);
        cursor: pointer;

        &_hovered {
            background-color: var(--spbSky0);
        }
    }

    &__list-item_paddings_large {
        padding-right: 32px;
        padding-left: 32px;
    }

    &__list-item_paddings_small {
        padding-right: 12px;
        padding-left: 12px;
    }

    &__item-title {
        position: relative;

        display: flex;
        flex-grow: 1;
        align-items: center;

        &_active {
            font-weight: 600;
        }
    }

    &__list-item_hovered &__item-title {
        &:after {
            background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--spbSky0));
        }
    }

    &__not-found {
        padding: 8px 32px;

        opacity: 0.5;
    }

    &__text {
        margin-top: 8px;

        color: var(--spbSky3);

        font-size: 12px;
        line-height: 18px;
    }

    &__highlighted-fragment {
        font-weight: bold;
    }

    &__label {
        position: absolute;
        top: 17px;
        z-index: 1;

        display: block;
        overflow: auto;

        color: var(--spbSky3);

        transition: transform 0.5s, top 0.5s;

        pointer-events: none;
        .fontFamily();
        .commonFont();
    }

    &__combobox + &__label {
        left: 16px;
    }

    &__combobox::-webkit-input-placeholder {
        .placeholder();
    }

    &__combobox:-moz-placeholder {
        .placeholder();
    }

    &__combobox:-ms-input-placeholder {
        .placeholder();
    }

    &__combobox::placeholder {
        .placeholder();
    }

    &_open &__label,
    &__title-inner:not(&__title-inner_hide-value) &__label {
        transform: scale(0.8) translate(-12%, -75%);

        transition-duration: 0.2s, 0.01s;
    }

    &__combobox:not(&__combobox_hide-value) + &__label {
        transform: scale(0.8) translate(-12.5%, -75%);

        transition-duration: 0.2s, 0.01s;
    }

    // with label

    &__control_labeled &__title-inner_hide-value &__title-value {
        .placeholder();
        opacity: 0;
    }

    &__control_labeled & {
        &__title-inner,
        &__combobox {
            padding-top: 22px;
        }

        &__combobox:focus::-webkit-input-placeholder {
            opacity: 1;
        }

        &__combobox:focus:-moz-placeholder {
            opacity: 1;
        }

        &__combobox:focus:-ms-input-placeholder {
            opacity: 1;
        }

        &__combobox:focus::placeholder {
            opacity: 1;
        }
    }

    // mod: open

    &_open {
        z-index: 100;
    }

    &_open &__control:after {
        transform: rotate(-180deg);
    }

    &_open &__list {
        display: block;

        animation-name: listAppear;

        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
    }

    &_open &__control {
        border-color: var(--content);
    }

    &_open &__title-inner_hide-value &__title-value {
        opacity: 1;
    }

    // mod: valid

    &_valid &__control {
        border-color: var(--brandGreen) !important;
    }

    // mod: error

    &_error &__control {
        border-color: var(--fury) !important;
    }

    &_error &__text {
        color: var(--fury);
    }

    // mod: disabled

    &_disabled &__control {
        border-color: var(--spbSky1);

        background-color: var(--spbSky1);

        user-select: none;
        pointer-events: none;
    }

    &_disabled &__title-inner:after {
        display: none;
    }

    &_disabled &__control:after {
        color: var(--content);

        opacity: 0.5;
    }
}
