@import '~@megafon/ui-core/styles/base.less';

@b: e('.mfui-video-block');

@{b} {
    display: flex;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media @mobileSM {
            margin-top: 24px;
        }
        @media @mobileB {
            margin-top: 32px;
        }
        @media @desktop {
            height: 100%;
            margin-right: 20px;
            padding-right: 20px;
        }
    }

    &__content_position-right {
        @media @desktop {
            margin: 0 0 0 20px;
            padding: 0 0 0 20px;
        }
    }

    &__header {
        margin-bottom: 24px;

        @media @mobile {
            margin-bottom: 16px;
        }
    }

    &__description {
        .p();
    }

    &__button {
        align-self: flex-start;
        max-width: 100%;
        margin-top: 32px;

        @media @mobileSM {
            align-self: center;
        }
    }

    &__video {
        width: 100%;
        object-fit: contain;
    }

    &__video_fix-background {
        filter: brightness(108.5%);
    }

    &__youtube {
        position: relative;

        padding-bottom: 56.25%;
    }

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__grid {
        width: 100%;
    }

    &__content-column_position-right {
        order: 2;
    }

    &__video-column_position-left {
        order: 1;
    }
}
