.docz-layout {
    &__side-bar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    &__sep {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 240px;
        width: 1px;
        background-color: #EDEDED;
    }
    &__content {
        padding-left: 240px;
    }
    &__content-inner {
        padding: 80px;
    }
}
