@import '~@megafon/ui-core/styles/base.less';

@b: e('.mfui-title-description-box');

@{b} {
    .fontFamily();
    color: var(--content);

    &__item_header {
        white-space: pre-wrap;
    }

    &__item:not(:last-child) {
        margin-bottom: 16px;
    }

    &_text-color_white {
        color: var(--stcWhite);
    }

    &_h-align_center {
        text-align: center;
    }

    &__description {
        .p();
    }

    &__description :last-child {
        margin-bottom: 0 !important;
    }
}
