@import (reference) '~styles/base.less';

@b: e('.mfui-switcher');

@{b} {
    top: 22px;
    right: 28px;

    width: 48px;
    height: 28px;
    border: 1px solid var(--stcBlack20);
    border-radius: 15.5px;

    background-color: var(--base);
    cursor: pointer;

    transition: all 0.3s;

    &__pointer {
        position: relative;
        top: 1px;
        left: 1px;

        width: 24px;
        height: 24px;
        border: 1px solid var(--stcBlack20);
        border-radius: 50%;

        background-color: var(--base);

        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 3px 1px rgba(0, 0, 0, 0.05);

        transition: all 0.3s;
    }

    &_no-touch:hover:not(&_disabled) {
        background-color: var(--spbSky1);
    }

    &_checked {
        border-color: var(--brandGreen);

        background-color: var(--brandGreen);

        @{b}__pointer {
            left: 21px;
        }
    }

    &_checked&_no-touch:hover {
        border-color: var(--buttonHoverGreen);

        background-color: var(--buttonHoverGreen);
    }

    &_disabled {
        background-color: var(--spbSky1);
        cursor: default;
    }

    &_disabled&_checked&_no-touch {
        border-color: var(--spbSky2);

        background-color: var(--spbSky2);
    }
}
