@b: e('.mfui-store-button');

@{b} {
    border-radius: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_theme_app-store {
        background-image: url('./img/app-store.png');
    }

    &_theme_google-play {
        background-image: url('./img/google-play.png');
    }

    &_theme_huawei-store {
        background-image: url('./img/huawei-store.png');
    }

    &_theme_mi-store {
        background-image: url('./img/mi-store.png');
    }

    &_theme_ru-store {
        background-image: url('./img/ru-store.png');
    }
}
