@import '~styles/base.less';

.mfui-grid-column {
    &_grow {
        flex-grow: 1;
    }
    &_align_right {
        margin-left: auto;
    }
    &_align_left {
        margin-right: auto;
    }
    &_align_center {
        margin-right: auto;
        margin-left: auto;
    }

    &_flex {
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .generateColumns(all);
    .generateOffsets(all);

    @media @desktopMU {
        .generateColumns(wide);
        .generateOffsets(wide);
    }
    @media @desktopS {
        .generateColumns(desktop);
        .generateOffsets(desktop);
    }
    @media @mobileB {
        .generateColumns(tablet);
        .generateOffsets(tablet);
    }
    @media @mobileSM {
        .generateColumns(mobile);
        .generateOffsets(mobile);
    }
}

.generateColumns(@resolution, @columnCount: 12, @i: 1) when (@i <= @columnCount) {
    &_@{resolution}_@{i} {
        width: (100% / @columnCount) * @i;
    }
    .generateColumns(@resolution, @columnCount, (@i + 1));
}

.generateOffsets(@resolution, @columnCount: 12, @i: 1) when (@i <= @columnCount) {
    &_offset-@{resolution}_@{i} {
        margin-left: (100% / @columnCount) * @i;
    }
    .generateOffsets(@resolution, @columnCount, (@i + 1));
}
