@import '~styles/base';

@root: e('.mfui-pagination-button');

@{root} {
    .h5();
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;

    svg {
        width: 100%;
    }

    &:disabled {
        pointer-events: none;
    }

    &_active {
        border-color: @green;
        pointer-events: none;
    }

    &_theme_default {
        color: @content;

        svg {
            fill: @content;
        }

        &:hover {
            background-color: @spbSky0;
        }
    }

    &_theme_default&_active {
        border-color: @green;
    }

    &_theme_light {
        color: @base;

        svg {
            fill: @base;
        }

        &:hover {
            background-color: rgba(@base, 0.25);
        }
    }

    &_theme_light&_active {
        border-color: @base;
    }
}
