@import '~styles/base';

@root: e('.mfui-pagination-button');

@{root} {
    .h5();
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;

    svg {
        width: 100%;
    }

    &:disabled {
        pointer-events: none;
    }

    &_active {
        border-color: var(--green);
        pointer-events: none;
    }

    &_theme_default {
        color: var(--content);

        svg {
            fill: var(--content);
        }

        &:hover {
            background-color: var(--spbSky0);
        }
    }

    &_theme_default&_active {
        border-color: var(--green);
    }

    &_theme_light {
        color: var(--stcWhite);

        svg {
            fill: var(--stcWhite);
        }

        &:hover {
            background-color: var(--stcWhite20);
        }
    }

    &_theme_light&_active {
        border-color: var(--stcWhite);
    }
}
