@import '~styles/base.less';

@b: e('.mfui-beta-text-field');

@{b} {
    .fontFamily();
    .commonFont();
    color: @freshAsphalt;

    &__field {
        .fontFamily();
        .commonFont();
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        box-sizing: border-box;
        min-height: 48px;
        outline: none;
        cursor: text;
        padding: 12px 20px 12px 20px;
        background-color: transparent;
        opacity: 1;
        border-radius: 0;
        appearance: none;
        box-shadow: none;
        margin: 0;

        &_multiline {
            display: block;
            min-height: 96px;
        }

        &_type_fixed {
            resize: none;
        }

        &_type_flexible {
            resize: vertical;
            overflow: hidden;
        }

        &_scrolling {
            overflow: auto;
        }
    }

    &__placeholder-input, &__placeholder-textarea {
        color: lighten(@freshAsphalt, 25%);
        padding-left: 20px;
        font-weight: 400;
        user-select: none;
        position: absolute;
        left: 0;
        z-index: 0;
    }

    &__placeholder-input {
        top: 50%;
        transform: translateY(-50%);
    }

    &__placeholder-textarea {
        top: 13px;
    }

    input::-webkit-input-placeholder {
        color: lighten(@freshAsphalt, 50%);
    }

    input:-moz-placeholder {
        color: lighten(@freshAsphalt, 50%);
    }

    input:-ms-input-placeholder {
        color: lighten(@freshAsphalt, 50%);
    }

    input::-ms-clear, input::-ms-reveal {
        display: none;
    }

    &__field-wrapper {
        position: relative;
        flex: 1 0 100px;
        background: @clearWhite;
    }

    &__icon-box {
        box-sizing: border-box;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        padding-right: 16px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-align: center;
    }

    &__icon-box_error,
    &__icon-box_password,
    &__icon-box_custom-handler {
        z-index: 3;
    }

    &__icon {
        width: 32px;
        height: 32px;
        display: block;
        user-select: none;
    }

    &__text {
        font-size: 12px;
        line-height: 16px;
        margin-top: 4px;
    }

    &__require-mark {
        font-size: 20px;
        line-height: 0;
        color: @fury;
        margin-left: 1px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__counter {
        opacity: 0.5;
        margin-top: 4px;
        margin-left: auto;
    }

    &__counter_error {
        color: @fury;
        opacity: 1;
    }

    //mod theme:

    &_theme_default & {
        &__field {
            color: @freshAsphalt;
            border: 1px solid @spbSky2;
            background-color: transparent;
        }

        &__field-wrapper_no-touch:hover @{b}__field,
        &__field:focus {
            border-color: @freshAsphalt;
        }
    }

    &_theme_default&_valid & {
        &__field-wrapper_no-touch:hover @{b}__field,
        &__field {
            border-color: @green;
        }

        &__icon {
            fill: @green;
        }
    }

    &_theme_default&_error & {
        &__field-wrapper:hover @{b}__field,
        &__field {
            border-color: @fury;
        }

        &__icon {
            fill: @fury;
        }

        &__text_error {
            color: @fury;
        }
    }

    &_theme_white & {
        &__field {
            color: @freshAsphalt;
            border: 1px solid @clearWhite;
        }

        &__field-wrapper:hover @{b}__field,
        &__field:focus {
            border-color: @freshAsphalt;
        }
    }

    &_theme_white&_error & {
        &__field-wrapper:hover @{b}__field,
        &__field {
            border-color: @fury;
        }

        &__icon {
            fill: @fury;
        }

        &__text_error {
            color: @fury;
        }
    }

    &__text_success {
        color: @green;
    }

    //mod disabled

    &_disabled & {
        &__field-wrapper {
            background-color: @spbSky1 !important;
        }

        &__field {
            border-color: @spbSky1 !important;
            cursor: default !important;
            color: @freshAsphalt !important;
            -webkit-text-fill-color: @freshAsphalt !important;
        }

        &__icon-box {
            cursor: default !important;
        }
    }

    //mod icon

    &_icon &__field {
        padding-right: 55px;
    }

    &_icon&_size_large &__field {
        @media @desktop {
            padding-right: 65px;
        }
    }

    //mod password

    &_password &__field, &_password &__placeholder {
        font: small-caption;
        font-size: 19px;
    }
}
