@import '~styles/base.less';

@b: e('.mfui-text-field');

@{b} {
    .fontFamily();
    .commonFont();
    color: @content;

    &__field {
        .fontFamily();
        .commonFont();
        position: relative;
        z-index: 1;

        display: block;
        box-sizing: border-box;
        width: 100%;
        min-height: 48px;
        margin: 0;
        padding: 11px 19px;
        border-radius: 0;

        background-color: transparent;
        outline: none;
        box-shadow: none;
        opacity: 1;

        appearance: none;
    }

    &__field_type_fixed {
        resize: none;
    }

    &__field_type_flexible {
        overflow: hidden;

        resize: vertical;
    }

    &__field_scrolling {
        overflow: auto;
    }

    input::-webkit-input-placeholder {
        color: @contentLighten50;
    }

    input:-moz-placeholder {
        color: @contentLighten50;
    }

    input:-ms-input-placeholder {
        color: @contentLighten50;
    }

    input::-ms-clear,
    input::-ms-reveal {
        display: none;
    }

    &__field-wrapper {
        position: relative;

        flex: 1 0 100px;

        background: @base;
    }

    &__icon-box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;

        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding-right: 16px;

        text-align: center;
    }

    &__icon-box_error,
    &__icon-box_password,
    &__icon-box_custom-handler {
        cursor: pointer;
    }

    &__icon {
        display: block;
        width: 32px;
        height: 32px;

        user-select: none;
    }

    &__text {
        margin-top: 4px;

        font-size: 12px;
        line-height: 16px;
    }

    &__require-mark {
        margin-left: 1px;

        color: @fury;
        font-size: 20px;
        line-height: 0;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__counter {
        margin-top: 4px;
        margin-left: auto;

        opacity: 0.5;
    }

    &__counter_error {
        color: @fury;

        opacity: 1;
    }

    //mod theme:

    &_theme_default & {
        &__field {
            border: 1px solid @spbSky2;

            color: @content;

            background-color: transparent;
        }

        &__field-wrapper_no-touch:hover @{b}__field,
        &__field:focus {
            border-color: @content;
        }
    }

    &_theme_default&_valid & {
        &__field-wrapper_no-touch:hover @{b}__field,
        &__field {
            border-color: @green;
        }

        &__icon {
            fill: @green;
        }
    }

    &_theme_default&_error & {
        &__field-wrapper:hover @{b}__field,
        &__field {
            border-color: @fury;
        }

        &__icon {
            fill: @fury;
        }

        &__text_error {
            color: @fury;
        }
    }

    &_theme_white & {
        &__field {
            border: 1px solid @base;

            color: @content;
        }

        &__field-wrapper:hover @{b}__field,
        &__field:focus {
            border-color: @content;
        }
    }

    &_theme_white&_error & {
        &__field-wrapper:hover @{b}__field,
        &__field {
            border-color: @fury;
        }

        &__icon {
            fill: @fury;
        }

        &__text_error {
            color: @fury;
        }
    }

    &__text_success {
        color: @green;
    }

    //mod disabled

    &_disabled & {
        &__field-wrapper {
            background-color: @spbSky1 !important;
        }

        &__field {
            border-color: @spbSky1 !important;

            color: @content !important;

            cursor: default !important;
            -webkit-text-fill-color: @content !important;
        }

        &__icon-box {
            cursor: default !important;
        }
    }

    //mod icon

    &_icon &__field {
        padding-right: 55px;
    }

    &_icon&_size_large &__field {
        @media @desktop {
            padding-right: 65px;
        }
    }

    //mod password

    &_password &__field {
        font: small-caption;
        font-size: 19px;
    }
}
