@import '~styles/base.less';

@b: e('.mfui-product-switcher');

@sizeDesktop: 64px;
@sizeMobileB: 56px;
@sizeMobileSM: 48px;

@{b} {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: @greenDark;
    border-radius: 50px;

    &__row {
        position: relative;
        z-index: 1;
        display: flex;
        flex-grow: 1;
    }
    &__item {
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;

        @media @mobileSM {
            width: 54px;
        }
        @media @mobileB {
            width: 61px;
        }

        &:first-child {
            justify-content: flex-start;
        }
        &:last-child {
            justify-content: flex-end;
        }
    }
    &__label {
        .h2();
        width: @sizeDesktop;
        height: @sizeDesktop;
        display: flex;
        align-items: center;
        justify-content: center;
        color: @white;
        transition: color 0.2s ease-in-out 0.05s;

        @media @mobileSM {
            width: @sizeMobileSM;
            height: @sizeMobileSM;
        }
        @media @mobileB {
            width: @sizeMobileB;
            height: @sizeMobileB;
        }
        @media @desktopS {
            font-size: 32px;
            line-height: 40px;
        }
    }
    &__label-unit {
        display: none;
    }
    &__pointer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: @sizeDesktop;
        height: @sizeDesktop;
        border-radius: 50%;
        background-color: @white;
        transition: transform 0.2s ease-in-out;

        @media @mobileSM {
            width: @sizeMobileSM;
            height: @sizeMobileSM;
        }
        @media @mobileB {
            width: @sizeMobileB;
            height: @sizeMobileB;
        }
    }

    &__item_active {
        cursor: default;
    }
    &__item_active &__label {
        color: @green;
    }

    &__color-row {
        display: none;
    }

    &&_theme_tariff-showcase {
        width: 100%;
        background-color: @clearWhite;
        box-shadow: 0 0 0 1px @spbSky1;
    }

    &&_theme_tariff-showcase & {
        &__row {
            justify-content: space-between;
        }
        &__label {
            font-size: 12px;
            font-weight: normal;
            line-height: 44px;
            color: @fullBlack;
            width: 44px;
            height: 44px;
            @media @desktopMU {
                width: 52px;
                height: 52px;
            }
        }
        &__item {
            @media @mobileB {
                width: 44px;
            }
            @media @desktopS {
                width: 63px;
            }
            &:hover @{b}__label{
                color: @greenHover;
            }
        }
        &__item_active @{b}__label {
            color: @clearWhite !important;
            font-size: 15px;
            font-weight: 500;
        }
        &__pointer {
            border: 2px solid @clearWhite;
            box-sizing: border-box;
            background-color: @green;
            width: 44px;
            height: 44px;
            @media @desktopMU {
                width: 52px;
                height: 52px;
            }
        }
    }

    &&_theme_with-unit-values {
        border-radius: 35px;
    }

    &&_theme_with-unit-values & {
        &__item {
            width: 95px;

            @media @mobileB {
                width: 106px;
            }

            @media @desktopS {
                width: 112px;
            }

            @media @desktopMU {
                width: 131px;
            }
        }

        &__label {
            width: 95px;

            @media @mobileB {
                width: 106px;
            }

            @media @desktopS {
                width: 112px;
            }

            @media @desktopMU {
                width: 131px;
            }
        }

        &__pointer {
            border-radius: 24px;
            width: 95px;

            @media @mobileB {
                width: 106px;
                border-radius: 26px;
            }

            @media @desktop {
                border-radius: 32px;
            }

            @media @desktopS {
                width: 112px;
            }

            @media @desktopMU {
                width: 131px;
            }
        }
    }

    &&_theme_with-color-row {
        display: flex;
        align-items: center;
        width: 224px;
        height: 66px;
        background-color: transparent;
        border-radius: 6px;
        &:not(:first-child) {
            margin-top: 16px;
        }
        @media @mobileSM {
            width: 233px;
        }
        @media @mobileB {
            width: 273px;
        }
        @media @desktopS {
            width: 235px;
        }
    }

    &&_theme_with-color-row & {
        &__row {
            height: 12px;
            justify-content: space-between;
            background-color: @spbSky1;
            border-radius: 6px;
            z-index: auto;

        }
        &__item {
            width: 32px;
            z-index: 3;
        }

        &__item_active {
            @{b}__label {
                font-size: 15px;
                font-weight: 500;
                height: 24px;
                top: -34px;
            }
            @{b}__label-unit {
                display: block;
                margin-left: 4px;
            }
        }
        &__item_disabled {
            @{b}__label {
                color: @spbSky2;
            }
        }

        &__label {
            width: auto;
            position: absolute;
            top: 17px;
            color: @black100;
            height: 12px;
            font-size: 12px;
            font-weight: 400;
            transition: none;
        }

        &__pointer {
            border-radius: 24px;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 21px;
            left: 0;
            z-index: 3;
            box-shadow: 0 0 7px 0 rgba(32, 39, 48, 0.29), 0 0 3px 0 rgba(38, 41, 61, 0.06);
        }
        &__color-row {
            display: block;
            background-color: @green;
            position: absolute;
            top: 27px;
            left: 0;
            height: 12px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            z-index: 2;
            transition: width 0.2s ease-in-out;
        }
    }
}
